

{% extends "base.html" %}

{% block title %}
List
{% endblock %}
{% block content %}

        {% for restaurant in restaurants %}
           <ul class= "body">
            <a   href="{% url 'restaurant-detail' restaurant.id %}" >
                   <h1>  <li>{{restaurant.name}}</li></h1></a>
                  <h2>   <li>{{restaurant.description}}</li></h2>
                  
                    <div class="date">   <li>{{restaurant.opening_time}}</li>
                    <li>{{restaurant.closing_time}}</li> 
                    </div>
                </ul>
            
        {% endfor %}
        {% endblock %}

